# React / Node
node_modules/
FrontEnd/node_modules/
.cache/
FrontEnd/.cache/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django
db.sqlite3

# Uploads
uploads/

# ML artifacts (optional if large)
*.npy
*.edf

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/